name: Jira Integration
on:
  workflow_dispatch:

permissions:
  statuses: write
  pull-requests: write

jobs:
  jira-validation:
    runs-on: ubuntu-latest
    steps:
      - uses: mapcolonies/javascript-github-actions/actions/jira-integration@jira-integration-v1
